$color-primary: rgba(117, 80, 236, 255);
$border-radius: 0.25rem;
$border-radius-big: 0.5rem;
$font-size-basic: 18px;
$font-size-nav: 24px;
$font-size-big: 20px;
$font-size-h1: 28px;
$font-size-card-title: 22px;
$color-background: #d9d9d9;
