<nav [ngClass]="{ isMobileVersion: mobileVersionProps.isMobileVersion }">
  @if (!mobileVersionProps.isMobileVersion) {
  <div class="navLinkContainer">
    <a [class.active]="isOnArticlesPage" routerLink="/articles">Articles</a>
  </div>
  <div class="navLinkContainer">
    <a [class.active]="isOnThemePage" routerLink="/theme">Thèmes</a>
  </div>
  } @else {
  <div class="articleAndThemeContainer">
    <div class="navLinkContainer">
      <a [class.active]="isOnArticlesPage" routerLink="/articles">Articles</a>
    </div>
    <div class="navLinkContainer">
      <a [class.active]="isOnThemePage" routerLink="/theme">Thèmes</a>
    </div>
  </div>
  }

  <div class="navLinkContainer navLinkContainer__image">
    <a routerLink="/me">
      @if (!isOnMePage) {
      <img src="../../../assets/icon_user.png" alt="logo user" />
      } @else {
      <img
        src="../../../assets/icon_user_selected.png"
        alt="logo user selected"
      />
      }
    </a>
  </div>
</nav>
