<main *ngIf="post$ | async as post">
  <div class="backArrowAndPostContainer">
    <div class="arrowContainer" (click)="backToArticles()">
      <img
        src="../../../assets/ArrowLeft.png"
        alt="Back to article arrow left"
      />
    </div>
    <div class="titleContainer">
      <h1>{{ post.title }}</h1>
    </div>
  </div>
  <div class="postAndCommentContainer">
    <div class="postContainer">
      <div class="globalInfoContainer">
        <p class="postInfo">{{ post.createdAt | date }}</p>
        <p class="postInfo">{{ post.authorName }}</p>
        <p class="postInfo">{{ post.subjectName }}</p>
      </div>
      <div class="content">
        <p>{{ post.content }}</p>
      </div>
    </div>
    <div class="commentContainer">
      <h3>Commentaires</h3>
      <div class="comments">
        <app-comment
          *ngFor="let comment of post.comments"
          [commentData]="comment"
          class="appComment"
        />
      </div>
      <form class="userNewCommentContainer" [formGroup]="commentForm">
        <textarea
          name="userNewComment"
          id="userNewComment"
          cols="30"
          rows="10"
          placeholder="Ecrivez votre commentaire ici"
          formControlName="comment"
        ></textarea>
        <div class="sendContainer" (click)="submitComment()">
          <img src="../../../assets/icon_send.png" alt="Send logo" />
        </div>
      </form>
      <div class="commentHasError">
        @if (commentHasError) {
        <p>Comment can't be empty</p>
        } @else if (commentServiceError) {
        <p>An error occured, please try again later</p>
        }
      </div>
    </div>
  </div>
</main>

<p *ngIf="errorOnIdParameter">Wrong id parameter</p>
<p *ngIf="isLoading">loading...</p>
