@import "../../style/globalVariables";

.colored {
  background-color: $color-primary;
  border: none;
  color: white;
}

button {
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 220px;
  border: solid 2px black;
  cursor: pointer;
  font-size: $font-size-basic;
  font-weight: 500;
  border-radius: $border-radius;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}
