<main>
  <div class="imgContainer" (click)="backToHome()">
    <img src="../../../assets/ArrowLeft.png" alt="Arrow left, back to home" />
  </div>

  <h1>Se connecter</h1>

  <form [formGroup]="loginForm">
    <div class="formInputContainer">
      <div class="formInput">
        <label for="emailOrUsername">E-mail ou nom d'utilisateur </label>
        <input
          type="text"
          id="emailOrUsername"
          formControlName="emailOrUsername"
        />
      </div>
      <div class="errorMessageContainer">
        <p [class.hasError]="emailOrUsernameHasError">
          Un email ou username est requis
        </p>
      </div>
    </div>

    <div class="formInputContainer">
      <div class="formInput">
        <label for="password">Mot de passe </label>
        <input type="password" id="password" formControlName="password" />
      </div>
      <div class="errorMessageContainer">
        <p [class.hasError]="passwordHasError">Un mot de passe est requis</p>
      </div>
    </div>

    @if(credentialsError){
    <div class="errorCredentialsMessageContainer">
      <p>{{ credentialsErrorMessage }}</p>
    </div>
    }

    <app-button
      [buttonProps]="buttonProps"
      class="submitButton"
      (click)="onSubmitForm()"
    />
  </form>
</main>
